* {
    box-sizing: border-box;
}

body {
    background-color: whitesmoke;
    margin: 0;
}



.container {
    

}


.overskrift {
    background-color: lightgray;
    text-align: center;
    padding: 2rem;
}

.topnav {
    background-color: #333;
}
.nav {
    background-color: #333;
}

a:link, a:visited {
    color: white; 
    background-color: #333; 
    text-decoration: none;
    display: inline-block;
    text-align: center;
    padding: 14px 25px;
    
}

a:hover, a:active {
    background-color: gray;
}


.avsnitt {
    float: left;
    width: 50%;
    padding: 10px;
    position: absolute fixed;
    border-left: 1px solid black;
    height: 10cm;
    
}
.avsnitt2 {
    float: left;
    width: 100%;
    padding: 15px;
    border: 1px solid black;
}




.row:after {
    content: "";
    display: table;
    clear: both;
}


@media (max-width:600px) {
    .avsnitt {
        width: 100%;
        padding: 15px;
        border-bottom: 1px solid black;
        
    }
}
.logo {
    
}


.footer {
    position:fixed absolute;
    bottom:0px;
    width: 100%;
    background-color: lightgray;
    text-align: center;
    border: 2px solid gray;
    font-size 10px;
    float:left;
    padding: 2rem;
}
.p {
    
    position:;
}