body {
    background-color: dimgray;
}
.heading {
    background-color: dimgray;
    padding: 2rem;
    text-align: center;
    font-size: 20px;
    position: absolute fixed;
    left: 10px;
    top: 10px;
    right: 10px;
}
.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    display: block;

}
.navbar1 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    display: none;

}

li a, .dropbtn {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: dimgray;
    color: white;
}
li.dropdown {
    display: inline;
    
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right:0;
    
}
.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}
    
.active1   {
    background-color: dimgray;
    color: white;
    
}

* {box-sizing:border-box}
body {font-family: Verdana,sans-serif;margin:0}
.mySlides {display:none}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  border: 3px solid black;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: black;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute fixed;
  bottom: 8px;
  width: 100%;
  text-align: center;
  background-color: lightgray;
  opacity: .7;
}

/* Number text (1/6 etc) */
.numbertext {
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  color: black;
  border: 2px solid black;
  background-color: white;
    opacity: .7
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}


.row:after {
    content: "";
    display: table;
    clear: both;
}
.avsnitt {
    float: left;
    width: 50%;
    padding: 2rem;
    color: whitesmoke;

}
@media (max-width:600px) {
    .avsnitt {
        width: 100%;
    }
    .navbar {
        display: none;
    }
    .navbar1 {
        display:  block;
    }
    
}
header {
    padding: 0.1rem;
    background-color: lightgray;
    box-shadow: 5px 5px 5px #333;
    
}
h1 {
    color: black;
}
.timer {
    font-size: 60px;
    color: cadetblue;
    text-shadow: 5px 5px 5px #333;
    padding: 2rem;
    text-align: center;
    
    }
.date {
    font-size: 30px;
    color:cadetblue;
    text-shadow: 5px 5px 5px #333;
    padding: 1rem;
    text-align: center;
    
    }

li {
    float: left;
}

p {
    text-align: left;
    padding: 20px;
    
    
}
h5 {
    text-align: center;
    font-size: 100px;
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
}
.footer {
    background-color: lightgray;
    text-align: center;
    height: 40px;
    padding: 10px;
}
.midt {
    background-color: cadetblue;
    height: 1000px;
    
}
.refresh {
    float: right;
    
}